.h3title {
    font-weight: 800;
    color: rebeccapurple;
    text-decoration: underline;
    a {
        color: red;
    }

    &:hover {
        color: blue;
    }
}

.card {
    width: 23.9%;

    &.sortable-chosen {
        background-color: lightpink;
    }

    &.sortable-ghost {
        background-color: #a4a4a4;
        p {
            display: none;
        }
    }
}

.empty {
    background-color: transparent;
}